

body {
 font-family: 'Lexend Deca', sans-serif;   
 font-size: 15px;
 font-weight: 400;
}

.card-deck{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 2em auto;
}

.card__title{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: hsl(0,0%,95%);
}
.card__body{
  font-size: 1rem;
  line-height: 1.6;
  color: hsla(0,0%,100%,0.75);
  max-width: 200px;
}
.card__button{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  letter-spacing: 1px;
  background: hsl(0,0%,95%);
  padding: .65em 2em ;
  border-radius: 15px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.card__button:hover
  {
    transform: scale(1.2);
    cursor: pointer;
 }

.card--sedon{
  background: hsl(31,77%,52%);
  color:  hsl(31,77%,52%);
}
.card--suvs{
  background: hsl(184,100%,22%);
  color: hsl(184,100%,22%);
    
}
.card--luxury{
  background: hsl(179,100%,13%); 
  color:  hsl(179,100%,13%);
}

.card{
 padding:2.5em;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

@media (min-width:375px) {
    .card-deck{
      flex-direction: row;
      max-width: 1440px;
    }
    .card__button{
        margin-top: 3em;
    }


}

/*
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
 
*/